@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 191, 255, 0.2), rgba(72, 255, 139, 0.2)),
    url("/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
